/* Body */

body {
  background-color: #fff9d9;
}

#bloc_page {
  width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* Header */

header {
  background-color: #706b64;
  box-shadow: 0px 2px 5px #1c1a19;
  height: 100px;
  padding: 0 5px 0 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 5px 0 0 0;
  font-style: italic;
}

/* Nav */

nav {
  font-size: 1.3em;
  text-shadow: 0px 1px 2.5px #1c1a19;
  margin: 0px 0px 0px 52.5%;
}

nav a {
  color: black;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 25px;
}

/* Banner */

#banner {
  height: 225px;
  background: url("../images/chocolat1.jpg") no-repeat;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 20px;
}

/* Section */

section {
  display: flex;
}

/* Article */

article h2 {
  padding-left: 20px;
  text-decoration: underline;
}

/* Aside */

aside {
  text-align: center;
  width: 300px;
  min-width: 300px;
  height: 415px;
  padding: 5px 0 5px 0;
  margin-left: 15px;
  background-color: #706b64;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #1c1a19;
}

aside h2 {
  text-decoration: underline;
}

#pic_ph {
  width: 100px;
  height: 125px;
}

aside img {
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

/* Footer */

footer {
  display: flex;
  background-color: #706b64;
  margin-top: 20px;
  box-shadow: 0px 2px 5px #1c1a19;
}

footer h2 {
  font-size: 120%;
}

#footer_bloc {
  display: flex;
  justify-content: space-evenly;
}

footer img {
  border: 1px solid black;
  width: 75px;
  height: 75px;
}

footer div {
  padding-left: 20px;
  min-width: 32%;
}

footer a {
  color: navy;
}

#list_bloc3 {
  display: flex;
  padding-left: 0px;
}

.border {
  border: 1px solid black;
}
